@model BusinessLogic.ModelsForControllers.ChangePasswordViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сменить пароль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>
        .nowrap {
            white-space: nowrap
        }

        .transition {
            transition: all 300ms ease-out;
        }
    </style>
</head>
<body>
    <nav id="nav" class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top ">
        <div class="row  row-cols-2  ml-md-0 mr-md-0 mb-1 mt-1 align-content-stretch d-flex  flex-fill ">
            <div class="col-auto  pl-md-0 pr-sm-2  align-content-center pb-0 transition">
                <form asp-action="Create" asp-controller="Order" method="post" asp-route-id="@Model.Id">
                    <button type="submit"
                            class="flex-fill btn btn-primary  pr-sm-4 pl-sm-4 pb-auto mb-0 font-weight-bold text-center find">
                        Найти попутчиков
                    </button>
                </form>
            </div>
            <div class="col-auto mr-0 pl-sm-2 pr-sm-0 align-content-stretch transition">
                <form asp-action="Subscription" asp-controller="Users" method="post" asp-route-id="@Model.Id">
                    <button type="submit"
                            class="flex-fill btn btn-outline-light mr-sm-0 pl-sm-4 pr-sm-4 pb-auto mb-sm-0  font-weight-light  subscribe">
                        Подписаться
                    </button>
                </form>
            </div>
            <div class="mr-sm-3 ml-sm-3"></div>
        </div>
        <button class="navbar-toggler ml-auto" id="nav-button" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-sm-2">
                    <li class="nav-item ">
                        <a class="nav-link flex-nowrap nowrap text-right" asp-action="Index" asp-controller="Home">О Проекте<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link flex-nowrap nowrap text-right" asp-action="Index" asp-controller="Order" asp-route-id="@Model.Id">Заказы<span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link flex-nowrap nowrap text-right" asp-action="Index" asp-controller="Users" asp-route-id="@Model.Id">Мой профиль<span class="sr-only"></span></a>
                    </li>
                </ul>
        </div>
        <div class="col-auto  pl-md-0 pr-sm-2  align-content-center pb-0 transition">
            <form asp-action="Logout" asp-controller="Account" method="post">
                <button type="submit"
                        class="flex-fill btn btn-primary  pr-sm-4 pl-sm-4 pb-auto mb-0 font-weight-bold text-center find">
                    Выход
                </button>
            </form>
        </div>
    </nav>
    <div class="container-sm p-4 " style="max-width: 40em; margin-top: 50px">
        <h1 class="title  mb-5 mt-3">Сменить пароль</h1>
        <form method="post" asp-controller="Users" asp-action="ChangePassword" novalidate>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="OldPassword">Введите старый пароль</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <svg class="bi bi-lock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 00-1 1v5a1 1 0 001 1h7a1 1 0 001-1V9a1 1 0 00-1-1zm-7-1a2 2 0 00-2 2v5a2 2 0 002 2h7a2 2 0 002-2V9a2 2 0 00-2-2h-7zm0-3a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </div>
                    <input type="password" asp-for="OldPassword" class="form-control" placeholder="Password123" aria-label="somebody"
                           aria-describedby="basic-addon1">
                </div>
                <small> <span class="form-text text-muted" asp-validation-for="OldPassword"></span></small>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Введите новый пароль</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <svg class="bi bi-lock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 00-1 1v5a1 1 0 001 1h7a1 1 0 001-1V9a1 1 0 00-1-1zm-7-1a2 2 0 00-2 2v5a2 2 0 002 2h7a2 2 0 002-2V9a2 2 0 00-2-2h-7zm0-3a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </div>
                    <input type="password" asp-for="NewPassword" class="form-control" placeholder="Password123" aria-label="somebody"
                           aria-describedby="basic-addon1">
                </div>
                <small> <span class="form-text text-muted" asp-validation-for="NewPassword"></span></small>
            </div>
            <button type="submit" class="container-fluid btn btn-primary mt-2">Сменить</button>
        </form>
    </div>
</body>
</html>