@model Taxi.ViewModels.Login.ForgotPasswordViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Забыли пароль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>

        .nowrap {
            white-space: nowrap
        }
    </style>
</head>
<body>
    <nav id="nav" class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top ">
        <button class="navbar-toggler ml-auto" id="nav-button" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-sm-2">
                <li class="nav-item ">
                    <a class="nav-link flex-nowrap nowrap text-right" asp-action="Index" asp-controller="Home">О Проекте<span class="sr-only"></span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link flex-nowrap nowrap text-right" asp-action="Login" asp-controller="Account">Войти<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link flex-nowrap nowrap text-right" asp-action="Register" asp-controller="Account">Зарегестрироваться<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-sm p-4 " style="max-width: 40em; margin-top: 50px">
        <h1 class="title  mb-5 mt-3">Забыли пароль</h1>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <h4>Введите email.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">Введите электронную почту</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <svg class="bi bi-envelope" width="1em"
                                 height="1em" viewBox="0 0 16 16"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z"
                                      clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                      d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z"
                                      clip-rule="evenodd" />
                                <path d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z" />
                            </svg>
                        </span>
                    </div>
                    <input type="email" class="form-control" asp-for="Email" placeholder="somebody@example.com" aria-label="somebody"
                           aria-describedby="basic-addon1">
                </div>
                <small> <span class="form-text text-muted" asp-validation-for="Email"></span></small>
            </div>
            <button type="submit" class="container-fluid btn btn-primary mt-2">Отправить</button>
        </form>
    </div>
</body>
</html>